backoff==2.2.1
certifi==2023.11.17
charset-normalizer==3.3.2
gql==3.4.1
graphql-core==3.2.3
idna==3.4
multidict==6.0.4
requests==2.31.0
requests-toolbelt==0.10.1
urllib3==1.26.18
websockets==10.4
yarl==1.9.3
