{
    "Comment": "MapImporter - Generic Step Function",
    "StartAt": "Choice - Check Input",
    "States": {
        "Choice - Check Input": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.julia_function",
                    "IsPresent": true,
                    "Next": "Lambda - Initiate Job - MapImporter - Generic Function"
                }
            ],
            "Default": "LoadDefaults"
        },
        "LoadDefaults": {
            "Type": "Pass",
            "Result": {
                "julia_function": ""
            },
            "ResultPath": "$.julia_function",
            "Next": "Lambda - Initiate Job - MapImporter - Generic Function"
        },
        "Lambda - Initiate Job - MapImporter - Generic Function": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "FunctionName": "${lambda_function_arn}",
                "Payload": {
                    "mode": "INITIATE",
                    "job_params": {
                        "namespace": "${namespace}",
                        "name": "${sfn_definition_prefix}-function",
                        "image": "${jsondecode(sfn_service_versions)["MapImporter"]["image"]}:${jsondecode(sfn_service_versions)["MapImporter"]["version"]}",
                        "julia_function": "$.julia_function",
                        "julia_module": "MapImporter",
                        "env_prefix": "${env_prefix}",
                        "k8s_microservice_name": "map-importer",
                        "port": "6701",
                        "cpu_limits": "${cpu_4xlarge}",
                        "memory_limits": "${memory_20xlarge}",
                        "cpu_requests": "${cpu_2xlarge}",
                        "memory_requests": "${memory_5xlarge}",
                        "eks_backoff_limit": 0
                    }
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "Next": "Wait - MapImporter - Generic Function"
        },
        "Wait - MapImporter - Generic Function": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "Lambda - Monitor Job - MapImporter - Generic Function"
          },
          "Lambda - Monitor Job - MapImporter - Generic Function": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${lambda_function_arn}",
              "Payload": {
                "mode": "MONITOR",
                "job_params": {
                  "namespace": "${namespace}",
                  "name": "${sfn_definition_prefix}-function"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "Next": "Choice - MapImporter - Generic Function"
          },
          "Choice - MapImporter - Generic Function": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.Payload.job_status",
                "StringMatches": "Success",
                "Next": "Lambda - Cleanup Job - MapImporter - Generic Function"
              },
              {
                "Variable": "$.Payload.job_status",
                "StringMatches": "Running",
                "Next": "Wait - MapImporter - Generic Function"
              }
            ],
            "Default": "Lambda - Cleanup Job - MapImporter - Generic Function"
          },
          "Lambda - Cleanup Job - MapImporter - Generic Function": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "FunctionName": "${lambda_function_arn}",
              "Payload": {
                "mode": "DELETE",
                "job_params": {
                  "namespace": "${namespace}",
                  "name": "${sfn_definition_prefix}-function"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
    }
}